{
  "name": "fr.wseduc~mod-image-resizer",
  "waitDeploy" : true,
  "worker": true,
  {% if s3 is not defined or 'storage' not in s3 or not s3['storage'] %}
  "multi-threaded": false,
  {% endif %}
  "config": {
    "address": "wse.image.resizer",
    "fs-flat": false,
    "instances": {{ imageResizerInstances|default(20)}}
    {% if STORAGE_S3_URI is defined %}
    ,"s3": {
           "uri": "${STORAGE_S3_URI}",
           "accessKey": "${STORAGE_S3_ACCESS_KEY}",
           "secretKey": "${STORAGE_S3_SECRET_KEY}",
           "ssec": "${STORAGE_S3_SSEC}",
           "region": "${STORAGE_S3_REGION}",
           "bucket": "${STORAGE_S3_BUCKET}",
           "keepAlive": {{STORAGE_S3_BUCKET_KEEP_ALIVE | default('true')}},
           "poolSize": {{ STORAGE_S3_BUCKET_POOL_SIZE | default(64) }},
           "timeout": {{ STORAGE_S3_BUCKET_TIMEOUT | default(60000) }},
           {% if STORAGE_S3_FALLBACK_S3_S3_URI  %}
           "s3fallbacks3s3": {
               "uri": "${STORAGE_S3_FALLBACK_S3_S3_URI}",
               "accessKey": "${STORAGE_S3_FALLBACK_S3_S3_ACCESS_KEY}",
               "secretKey": "${STORAGE_S3_FALLBACK_S3_S3_SECRET_KEY}",
               "region": "${STORAGE_S3_FALLBACK_S3_S3_REGION}",
               "bucket": "${STORAGE_S3_FALLBACK_S3_S3_BUCKET}"
               {% if STORAGE_S3_FALLBACK_S3_S3_SSEC is defined %}
               ,"ssec": "${STORAGE_S3_FALLBACK_S3_S3_SSEC}"
               {% endif %}
             },
           {% endif %}
           {% if STORAGE_S3_FALLBACK_S3_URI is defined %}
           "s3fallback": {
               "uri": "${STORAGE_S3_FALLBACK_S3_URI}",
               "accessKey": "${STORAGE_S3_FALLBACK_S3_ACCESS_KEY}",
               "secretKey": "${STORAGE_S3_FALLBACK_S3_SECRET_KEY}",
               "region": "${STORAGE_S3_FALLBACK_S3_REGION}",
               "bucket": "${STORAGE_S3_FALLBACK_S3_BUCKET}"
               {% if STORAGE_S3_FALLBACK_S3_SSEC is defined %}
               ,"ssec": "${STORAGE_S3_FALLBACK_S3_SSEC}"
               {% endif %}
           }
           {% endif %}
    }
    {% endif %}
  }
}